  html, body {
        height: 100%;
        margin: 0;
      }
      body {
        background: black;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      canvas {
        border: 1px solid white;
      }

.button {
    background-color: #4CAF50;
	font-family:Courier;
	font-size:30px;
	font-weight:bold;
	border:none;
	background-color:#ffffff;
	color:#000000;
}