<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>TechIndustry</h1>
<div>
    <form action="/main" method="get">
        <input type="text" name="text" placeholder="Введите имя продавца"/>
        <button type="submit">Войти</button>
    </form>
</div>
</body>
</html>